<!DOCTYPE html>
<html>
<head>
<title>Saba Kazi - Byte 1</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'><link rel="stylesheet" href="./css/byte1.css">
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Job Search</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="AbtByte">About Byte 1</a></li>
            <li><a href="https://pipes.yahoo.com/pipes/pipe.info?_id=8cf0f416041c38d3be8f23f4292346ea">Pipe</a></li>
            
          </ul>
         
        </div>
      </div>
    </nav>
  <div class="container"> 
		
	<div class=""> 
	    <div class= "container"  style="padding-top:100px;text-align:center">
         <h2> What Kind of a Job are You Looking for? </h2>
         <br/>
         <p style="color:#c8c3c3;font-size:16px;text-align:center;font-weight:100"> Search for jobs across multiple job search engines like<br/> Monster.com, Indeed , SimplyHired all in one place </p>
         <br/>
         <form action="search" method="POST" class="formmm">
		       <div style="" class="searchDiv">
		              <div style="display:inline-block;" class="srcDiv"><div class="searchbtn btn" ><i class="fa fa-search"></i></div></div>
		              <div style="display:inline-block;" class="loDiv"><input id="txtSearch" type="text" class="formInp formyyyy firsty" name="search_term" value="{{search}}" placeholder="Enter a Job Description or Title or Company"></div>    
		       </div>
		       <div style="" class="locyDiv">
		             <div style="display:inline-block;" class="srcDiv"><div class="searchbtn btn btnLeftSq" ><i class="fa fa-map-marker"></i></div></div>
		             <div style="display:inline-block;" class="locDiv"><input id="txtWhere" type="text" class="formInp2 formyyyy" name="location" value="{{location}}" placeholder="Where"></div>
			    </div>
                <div style="" class="btnSubDiv">
			       <button id="mySubmit" type="submit" class="btn btn-primary btnLeftSq">Find Jobs</button>
			    </div>
		 </form>
		</div> 
       <br/><br/><br/><br/>
       
       <div class="results" id="mouse">
       	<div id="delMe">
       	 <br/><br/>
       	 {% if errorM == "no" %}
             <h2 style="color:black">{{resultMsg}}</h2>
       	 {% else %}
		     <h2 style="color:black;text-align:center">{{resultMsg}}</h2>
		 {% endif %}
		<br/>
       
		{% for item in feed %}
		   <div class="jobBox">
		       <div class="jobTitle">
		          <a href="{{ item.link }}">{{ item.title }}<br>
		       </div>
		       <div class="itemDesc" >
	        	{{item.description|safe}}
	           </div>	
		    </div></a>
		    <br/>
		{% endfor %}
	  </div>
    </div>
   </div> 
   <div id="targer">
   	   
      <h2> About Byte 1 </h2>
      <br/>
      <h3>Aim</h3>
      <p> The aim of this assignment was to create a small application that displays data from an RSS feed. The RSS feed is provided by Yahoo Pipes. </p> 
      <br/><br/>  
      <h3>What question does your application help to answer, and how does it let the end user answer that question? </h3>
      <p>When hunting for jobs users end up visiting several different sites trying to find the perfect job that fits their needs. Using this application the user can easily look for jobs across multiple sites like Monster, Indeed, SimplyHired all in one place. 
      <br/>The user can search for jobs by entering the job description, job title , company name or location in the available form.   </p>
      <br/><br/> 

      <h3>Describe the flow of information from the end user (who enters a search term) until it is displayed back to the end user, in terms of the specific components relevant to the assignment (end user; jinja2; main.py; yahoo pipes). </h3>
      <p>1. The end-user visits sabakazi-byte1.appspot.com  
      <br/>2. The end user enters the description of the job he is looking for and may also enter additional details like location.
      <br/>3. When the user submits the search, a POST request is sent with the search parameters and this POST request is handled in main.py on the appserver.
      <br/>4. A request is made to fetch the RSS feed from the Yahoo pipe that was created. The Yahoo pipe fetches data from Monster.com , Indeed and SimplyHired that matches the search criteria. The results are combined and sent back as a single RSS feed.
      <br/>5. A feedpaser is used to parse the RSS feed and convert it into a list of dictionaries ( with keys link, title, description)
      <br/>6. Using Jinja2 - a templating language for python, the list of values are iterated through in the html file and dynamic html code is generated for each of the results. 
      <br/>7. Using AJAX, the page is refreshed with new results from the pipe. 
      </p>
      <br/><br/> 

   </div>
</body>
<script>
  


      $("#AbtByte").click(function(event){
         //$(window).scrollTop($('#targer').offset().top);
      $('html, body').animate({
        scrollTop: $('#targer').offset().top - 70
    }, 2000);
      });



window.setInterval(function(){
    $.post( 
             "aplleyy",
             { search_term: $("#txtSearch").val(), location: $("#txtWhere").val() },
             function(data) {
                
                //console.log(data);
                $("#delMe").remove();
                $("#mouse").append(data);
             }

          );
}, 120000);



   
</script>
</html>
